<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#6495ed">
<center>
<h1>  welcome to IT</h1>
<a href="./reg">click here to register</a><br>
<a href="./login">click here to login</a><br>
    <img src="file:\C:\Users\sallu\Desktop\vizag\IMG20220501232520.jpg"alt="Site Logo" width="50" height="50"></img>
    <img src="C:\Users\sallu\Desktop\vizag\IMG20220501232520.jpg" alt="Flowers in Chania"><br>
    <img src="C:\Users\sallu\Desktop\Tspsc santhosh application\bharathi\WhatsApp Image 2023-06-15 at 7.05.39 PM.jpeg/" alt="Hai" width="42" height="42" style="vertical-align:middle">
    <img src="C:/Users/sallu/Desktop/Tspsc santhosh application/bharathi/WhatsApp Image 2023-06-15 at 7.05.39 PM.jpeg"></img>
</center>

</body>
</html>