<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#5f9ea0">
<center>

<form action="./reg" method ="POST">

    Enter first name : <input type="text" name="t1"><br>
    Enter last name : <input type="text" name="t2"><br>
    Enter username : <input type="text" name="t3"><br>
    Enter password : <input type="text" name="t4"><br>
    Enter cpassword : <input type="text" name="t5"><br>
    Enter mail : <input type="text" name="t6"><br>
    Enter mobile : <input type="text" name="t7"><br>
    <input type="submit" value="register">


     </form>
</center>
</body>
</html>